@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: space-between;
    background-color: #F2F6FE;
}

/*sidebar*/

.sidebar {
    justify-content: center;
    align-items: center;
    background-color: #2C559C;
    display: block;
    width: 80px;
    height: 100vh;
    width: 5%;
    position: fixed;
}

.logo-sidebar img {
    width: 50px;
    align-items: center;
}

.logo-sidebar {
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
}

.menu-sidebar {
    justify-content: center;
    align-items: center;
    background-color: #2072FF;
    display: inline-block;
    width: 50px;
    height: 600px;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
}

.menu1 {
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 20px;
}

.menu-text {
    font-size: small;
}

.menu1-icon {
    margin-top: 10px;
}

.menu-icon {
    width: 30px;
}

.menu2 {
    margin-top: 280px;
}

/*Dashboard*/

.dashboard {
    justify-content: center;
    align-items: center;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    width: 95%;
    margin-left: 105px;
}

/*Menu Dashboard*/
.menu-dashboard {
    margin: 10px 15px;
    display: flex;
    justify-content: space-between;
}

.menu-dashboard1 {
    display: flex;
}

.menu-dashboard2 {
    display: flex;
    margin-right: 20px;
}

.list-icon {
    width: 30px;
    margin-right: 10px;
    margin-top: 15px;
}

.search-bar {
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border-style: none;
    border-radius: 30px;
    margin-right: 15px;
    padding: 15px 60px;
}

.btn-start {
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border-style: none;
    border-radius: 30px;
    background-color: #22A6B3;
    color: white;
    padding: 15px 20px;
}

.profile-photo {
    width: 30px;
    height: 30px;
    margin-top: 15px;
}

.profile-name {
    margin-left: 10px;
    margin-top: 17px;
    color: #949494;
}

.down-icon {
    width: 30px;
    margin-top: 15px;
    margin-left: 10px;
}

/*Content*/

.to-do-list {
    color: #22A6B3;
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-1);
    font-weight: 600;
    letter-spacing: 0;
    line-height: 23.9px;
    margin-left: 1px;
    margin-top: -2px;
    min-height: 24px;
    white-space: nowrap;
}

.new-to-do-list-tittle-here-1 {
    color: #3D3D3D;
    font-size: 30px;
    font-style: normal;
    font-family: var(--font-family-poppins);
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: 35.8px;
    top: 20px;
    white-space: nowrap;
}

.your-project {
    align-items: flex-start;
    background-color: #FFFFFF;
    border-radius: 40px;
    box-shadow: 0px 4px 20px #0000001a;
    display: flex;
    height: 841px;
    left: 159px;
    overflow: hidden;
    padding: 26px 177px;
    position: absolute;
    top: 208px;
    width: 1227px;
}

.tags {
    align-items: flex-start;
    background-color: #22A6B34D;
    border-radius: 22px;
    display: flex;
    height: 21px;
    left: 0;
    overflow: hidden;
    padding: 0 5px;
    /* position: absolute; */
    top: 0;
    width: 92px;
}

.overlap-group1 {
    height: 737px;
    position: relative;
    width: 873px;
}

.group-44 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 6px;
    left: 61px;
    min-height: 50px;
    position: absolute;
    top: 32px;
    width: 237px;
}

.new-to-do-list-tittle-here {
    color: var(--grey-maintext);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-l);
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    min-height: 30px;
}

.flex-row {
    align-items: flex-start;
    display: flex;
    gap: 6px;
    height: 15px;
    margin-left: 1.24px;
    min-width: 101px;
}

.add-a-cover {
    align-self: flex-end;
    color: #949494;
    font-family: var(--font-family-poppins);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 14.3px;
    min-width: 82px;
    white-space: nowrap;
}

.image {
    height: 12px;
    width: 13px;
}

.editor {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 737px;
    left: 0;
    padding: 99px 43px;
    position: absolute;
    top: 0;
    width: 873px;
}

.image-5 {
    height: 62px;
    width: 779px;
}

.group-45 {
    align-items: flex-start;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-right: 9px;
    margin-top: 51px;
    min-height: 180px;
    width: 752px;
}

.group-3 {
    height: 30px;
    width: 752px;
}

.confused-where-to-st {
    color: #949494;
    font-family: var(--font-family-poppins);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 19.1px;
    margin-left: 13px;
    margin-top: 29px;
    min-height: 38px;
}