@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: space-between;
    background-color: #F2F6FE;
}

/*sidebar*/

.sidebar {
    justify-content: center;
    align-items: center;
    background-color: #2C559C;
    display: block;
    width: 80px;
    height: 100vh;
    width: 5%;
    position: fixed;
}

.logo-sidebar img {
    width: 50px;
    align-items: center;
}

.logo-sidebar {
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
}

.menu-sidebar {
    justify-content: center;
    align-items: center;
    background-color: #2072FF;
    display: inline-block;
    width: 50px;
    height: 600px;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
}

.menu1 {
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 20px;
}

.menu-text {
    font-size: small;
}

.menu1-icon {
    margin-top: 10px;
}

.menu-icon {
    width: 30px;
}

.menu2 {
    margin-top: 280px;
}

/*Dashboard*/

.dashboard {
    justify-content: center;
    align-items: center;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    width: 95%;
    margin-left: 105px;
}

/*Menu Dashboard*/
.menu-dashboard {
    margin: 10px 15px;
    display: flex;
    justify-content: space-between;
}

.menu-dashboard1 {
    display: flex;
}

.menu-dashboard2 {
    display: flex;
    margin-right: 20px;
}

.list-icon {
    width: 30px;
    margin-right: 10px;
    margin-top: 15px;
}

.search-bar {
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border-style: none;
    border-radius: 30px;
    margin-right: 15px;
    padding: 15px 60px;
}

.btn-start {
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border-style: none;
    border-radius: 30px;
    background-color: #22A6B3;
    color: white;
    padding: 15px 20px;
}

.profile-photo {
    width: 30px;
    height: 30px;
    margin-top: 15px;
}

.profile-name {
    margin-left: 10px;
    margin-top: 17px;
    color: #949494;
}

.down-icon {
    width: 30px;
    margin-top: 15px;
    margin-left: 10px;
}

/* Content */

.your-projects {
    align-items: flex-start;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 4px 20px #0000001a;
    display: flex;
    flex-direction: column;
    gap: 36px;
    height: 376px;
    left: 0;
    overflow: hidden;
    padding: 38px 35px;
    /* position: absolute; */
    top: 0;
    width: 1227px;
}

.overlap-group1 {
    height: 56px;
    position: relative;
    width: 378px;
}

.tags {
    align-items: flex-start;
    background-color: #f9ca244c;
    border-radius: 22px;
    display: flex;
    height: 21px;
    left: 0;
    overflow: hidden;
    padding: 0 5px;
    position: absolute;
    top: 0;
    width: 92px;
}

.to-do-list {
    color: #f9ca24;
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-12);
    font-weight: 600;
    letter-spacing: 0;
    line-height: 23.9px;
    margin-left: 1px;
    margin-top: -2px;
    min-height: 24px;
    min-width: 81px;
    text-align: center;
    white-space: nowrap;
}

.title {
    color: var(--grey-mutedtext);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-x12);
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: 35.8px;
    position: absolute;
    top: 20px;
    white-space: nowrap;
}

.group-50 {
    align-items: center;
    display: flex;
    gap: 6px;
    height: 14px;
    min-width: 102px;
}

.add-a-cover {
    letter-spacing: 0;
    line-height: 14.3px;
    min-width: 82px;
    white-space: nowrap;
    color: #949494;
    width: 100.26px;
    height: 14px;
}

.image {
    height: 13px;
    margin-bottom: 0.11px;
    width: 13px;
}

.image-6 {
    height: 122px;
    left: 32px;
    object-fit: cover;
    /* position: absolute; */
    top: 188px;
    width: 1164px;
}

.create-kanban .frame {
    align-items: flex-start;
    display: flex;
}

.Imageframe {
    margin-top: 30px;
    margin-left: 30px;
}